.loadingRoot{
    text-align: center;
    margin-top: 150px;
}

.loadingRoot span{
    height:60px!important;
    width:60px!important;
}

.searchTopBarButton{
    float: right;
    margin: 10px 10px 10px 0px;
}