.searchLimitSelect{

}

.searchSettingsLabel{
    line-height: 44px!important;
}

.radio+.radio{
    margin-top: 0px;
}

.closeSettingsDialog{
    position: absolute!important;
    right: 9px!important;
    top: 9px!important;
}

.disabled{
    pointer-events: none!important;
    opacity: 0.4!important;
}

.searchSettingsDialog .MuiPaper-root{
    width: 630px;
}