.searchLimitSelect{

}

.searchSettingsLabel{
    line-height: 44px!important;
}

.radio+.radio{
    margin-top: 0px;
}

.closeSettingsDialog{
    position: absolute!important;
    right: 9px!important;
    top: 9px!important;
}