.containerSearch {
    margin: 0px 8px;
}
.titleContainer {
    display: flex;
    margin: var(--spacers-dp16) 0 var(--spacers-dp4) 0;
}
.settingsButton, .downloadResults{
    float: right;
    margin-top: 16px;
    margin-left: 10px;
}

.statusContainer {
    margin: var(--spacers-dp16);
}
.titleText {
    font-size: 1.8em;
    font-weight: 300;
}

.loading{
    margin: 100px auto;
    width: 60px;
    color: rgb(44, 102, 147)!important;
}

.loading [role="progressbar"] {
    width: 59px;
    height: 59px;
    border-color: rgba(110, 122, 138, 0.15) rgba(110, 122, 138, 0.15) rgb(44, 102, 147)!important;
    animation-duration: 1.5s!important;
}

.clear {
    clear: both;
}

[role="progressbar"]{

}