.warningMessage,
.infoMessage {
    align-items: center;
    margin: 8px 8px 0px 8px;
    display:inline-block;
}

.infoMessage svg {
    vertical-align: top;
}
.warningMessage span, .infoMessage span {
    margin-left: var(--spacers-dp8);
}
.infoMessage {
    /*color: var(--colors-blue700);*/
    color: rgb(44, 102, 147)!important;
}
.warningMessage {
    color: var(--colors-yellow700);
}