.warningMessage,
.infoMessage {
    align-items: center;
    margin: 25px 10px 0px 10px;
    display:inline-block;
}

.infoMessage svg {
    vertical-align: top;
}
.warningMessage span, .infoMessage span {
    margin-left: var(--spacers-dp8);
}
.infoMessage {
    color: var(--colors-blue700);
}
.warningMessage {
    color: var(--colors-yellow700);
}