.warningMessage,
.infoMessage {
    display: flex;
    align-items: center;
    /*margin: 25px 0 var(--spacers-dp8) 0;*/
}
.warningMessage span,
.infoMessage span {
    margin-left: var(--spacers-dp8);
}
.infoMessage {
    color: var(--colors-blue700);
}
.warningMessage {
    color: var(--colors-yellow700);
}