.searchResultsRoot{
    margin: 10px;
    margin-top: 20px;
    width: inherit!important;
}

thead th {
    padding-top: 10px!important;
    padding-bottom:10px!important;
}

.actionButton{
    display:inline-block;
}

.searchResultViewLink{
    text-decoration: none!important;
}

.searchResultViewLink:hover{
    /*font-weight: 500;*/
    color: rgb(44, 102, 147)!important;
}